<ul>
  <li><%= link_to "Record a Win", new_game_path(@game) %>
</ul>

<h1>Last 10 Games</h1>

<ul>
  <% @games.each do |game| %>
    <li>
      Titel: <%= game.title %> </br>
      Gewinner: <%= game.winner %> </br>
      <%= game.created_at %>
    </li>
  <% end %>
</ul>


