/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(100px, 250px) minmax(100px, 250px) minmax(100px, 250px);
    grid-auto-rows: auto;
    gap: 10px;
}

.button {
    height: 45px;
    width: 300px;
    background-color: rgb(102, 161, 117);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 2px;
    text-decoration: none;
}

.black-button {
    color: black;
}

.form {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    padding: 1em;
    word-wrap: break-word;
}

h1, p {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}


.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }

/* 
here the code for the magic click box happens
*/

.linked-box {
    max-width: 30em;
    padding: 1em;
    position: relative;   
}

.linked-box a:focus,
.linked-box a:hover {
	color: inherit;
	background: #D4EBBE;
}

.linked-box a::before,
.linked-box a::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.linked-box a::before,
.game {
    border: thin solid;
    border-radius: 10px;
	background: inherit;
	z-index: -1;
}
