<div class="flex-container">
    <div class="grid-container">
        <h1>Below you can see all current games, that were added!</h1>

        <% @boardgames.each do |boardgame| %>
        <div class="game">
            <%= link_to "#{boardgame.title}", boardgame %>
        </div>
        <% end %>
    </div>
</div>
